body {
    /*Colors */

    /* Primary */

    --blue-contact: rgb(134,204,250);

    --header-color: rgb(101,188,249);

    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    /* (graphic design text) */
    --dark-desaturated-cyan : hsl(167, 40%, 24%);
    /* (photography text) */
    --dark-blue : hsl(198, 62%, 26%);
    /* (footer) */
    --dark-moderate-cyan: hsl(168, 34%, 41%);

    /* Neutral */

    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

    /* Fonts */  
    font-family: 'Barlow', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'Fraunces', sans-serif;
}

header {
    position: relative;
    height: 26rem;
    align-items: center;
    padding: 2rem 1rem;
    background: url(./images/mobile/image-header.jpg) no-repeat center center/cover;
}

header .logo-nav {
    display: flex;
    justify-content: space-between;
}

header .heading {
    display: flex;
    position: relative;
    padding-top: 3rem;
    justify-content: center;
}

header .heading h1 {
    font-size: 3rem;
    color: var(--white);
    margin: 0;
    letter-spacing: 10px;
}

header .heading img {
    position: absolute;
    top: 18%;
}

h1, h2, p {
    margin: 0;
}

.logo img {
    width:  100px;
}

.desktop-nav {
    display: none;
}

.mobile-menu img {
    width: 20px;
    height: 20px;
}

.mobile-inactive {
    display: none;
}

.menu-container {
    background-color: var(--white);
    width: 90%;
    position: absolute;
    top: 21%;
}

.menu-container::before {
    content: '◢';
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: -1.2rem;
}


.menu-container .menu {

    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2.5rem;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: var(--grayish-blue);
}

.menu li:last-child {
    background-color: var(--yellow);
    padding: 1rem 2rem;
    border-radius: 30px;
}

.menu li:last-child a {
    color: black;
    font-family: 'Fraunces', sans-serif;
    text-transform: uppercase;
}

div.feature .feature-image img {
    width: 100%;
}

div.feature .feature-image .mobile-desktop {
    display: none;
}

div.feature .feature-text {
    padding: 2rem 1rem;
}

.feature-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.feature-text p {
    font-size: 1rem;
    color: var(--dark-grayish-blue);
    line-height: 1.5;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}

.feature-text a {
    font-family: 'Fraunces', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-text a:visited {
    color: black;
}

.feature-text a::after{
    content: " ";
    width: 35%;
    height: 5px;
    background: var(--yellow);
    filter: blur(2px);
}

div#stand-out .feature-text a::after {
    background: var(--soft-red);
}

#services {
    margin-bottom: 5rem;
}

section#services .service {
    position: relative;
    height: 35rem;
}

section#services .service .desktop-image {
    display: none;
}

.service img {
    width: 100%;
}

.service .service-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white);
    width: 90%;
}

.service .service-text h3 {
    font-size: 1.7rem;
}

.service#graphic-design .service-text {
    color: var(--dark-desaturated-cyan);
}

.service#photography .service-text {
    color: var(--dark-blue);
}

section#testimonials {
    padding: 2rem 1rem 2rem;
}

section#testimonials h3 {
    font-size: 1rem;
    margin-bottom: 4rem;   
    margin-top: 0;
    color: var(--dark-grayish-blue);
    letter-spacing: 5px;
    text-transform: uppercase; 
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.testimonial p {
    font-size: 1rem;
    color: var(--dark-grayish-blue);
    line-height: 1.5;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}

.testimonial h4 {
    font-size: 1.2rem;
    margin: 1rem 0 .5rem;
}

.testimonial .testimonial-text .testimonial-info-text .user-role {
    font-weight: 300;
    font-size: .875rem;
    color: var(--grayish-blue);
}

section#gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    padding: 4rem 2.4rem;
    background: var(--dark-moderate-cyan);
    color: var(--white);
}

footer .footer-logo {
    margin-bottom: 2rem;
}

footer .footer-logo svg {
    color: var(--dark-desaturated-cyan)
}

footer .footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .footer-links ul{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

footer .footer-links ul li a {
    text-decoration: none;
    color: var(--dark-desaturated-cyan);
    font-size: 1.1rem;
}

footer .social-media ul {
    list-style: none;
    display: flex;
    width: 70%;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    padding: 0;
}

@media screen and (min-width: 768px) {
    header {
        padding: 2rem 2rem;
        background-image: url(./images/desktop/image-header.jpg);
        height: 38rem;
    }

    header .heading img {
        bottom: 35%;
    }

    header .logo img{
        width: 10rem;
    }

    header .mobile-menu {
        display: none;
    }

    header .desktop-nav {
        display: flex;

    }
    header .desktop-nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 0;
    }

    header .desktop-nav ul li a {
        text-decoration: none;
        color: var(--white);
        font-size: 1.1rem;
    }

    header .desktop-nav ul li:last-child a{
        background-color: var(--white);
        padding: 1rem 2rem;
        border-radius: 30px;
    }
    header .desktop-nav ul li:last-child a{
        color: black;
        font-family: 'Fraunces', sans-serif;
        text-transform: uppercase;
        font-size: .875rem;
        transition: all .3s ease-in-out;
    }

    header .desktop-nav ul li:last-child a:hover{
        background-color: var(--blue-contact);
        color: white;
    }

    header .heading img {
        top: 200%;
    }
    

    #features .feature {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #features .feature:first-child .feature-image{
        order: 1;
    }

    #features .feature .feature-image .image-mobile {
        display: none;
    }

    #features .feature .feature-image .image-desktop {
        display: block;
    }

    #features .feature .feature-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 0 10rem;
        text-align: left;
    }
    #features .feature .feature-text p {
        padding: 0;
    }

    #services {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #services .service {
        height: unset;
    }

    #services .service .mobile-image {
        display: none;
    }

    #services .service .desktop-image {
        display: block !important;
    }

    #services .service .service-text {
        width: 50%;
        line-height: 30px;
    }

    #testimonials .testimonial {
        height: 100%;
        gap: 1rem;
    }

    #testimonials .testimonials-cards{
        display: flex;
    }

    #testimonials .testimonials-cards .testimonial-text{
        padding: 0 5rem;
    }

    #gallery {
        display: flex !important;
    }

    footer .footer-content {
        width: 20%;
        margin-inline: auto;
    }
}